/* # Reset, tipografía, colores globales, variables
 */

*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

:root{
    --primary-bg: #000000;
    --secondary-bg: #ffffff;
    --primary-color: #ffffff;
    --sucess-color: #238b09;
    --fail-color: #a00909;
}

main{
    background-color: var(--primary-bg);
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}