/* Clases rápidas: .hidden, .text-center, .mt-2
 */

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.border-red{
    border: 1px red solid;
}

.border-orange{
    border: 1px orange dashed;
}

.border-pink{
    border: 1px pink dashed;
}

.border-white{
    border: 1px white dashed;
}

.border-yellow{
    border: 1px yellow dashed;
}

.border-violet{
    border: 1px violet dashed;
}

.border-blue{
    border: 1px blue dashed;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.align-center{
    align-items: center;
}

.content-center{
    justify-content: center;
}

.content-end{
    justify-content: end;
}

.text-align-end{
    text-align: end;
}

.none{
    display: none;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}


.grid{
    display: grid;
}

.grid-1fr-1fr{
    grid-template-columns: 1fr 1fr;
}

.grid-span-2{
    grid-column: span 2;
}